#gameScreen {
  background-color: rgb(180, 180, 180);
  height: 80vh;
}

#tiles {
  background-color: rgb(80, 80, 80);
  height: 20vh;
}

.tile {
  margin: 2vh;
  height: 16vh;
  image-rendering: pixelated;
}
